{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container">
    {% include "header.html" %}

    <canvas id="renderingZone" width="512" height="512">
        WebGL 2 canvas
    </canvas>
</div>



{% endblock body %}

{% block javascript %}

<script type="text/javascript" src="static/webgl/utils.js"></script>
<script type="text/javascript" src="static/webgl/console.js"></script>
<script type="text/javascript" src="static/webgl/camera.js"></script>
<script type="text/javascript" src="static/webgl/house_view.js"></script>
<script src="//js.leapmotion.com/0.3.0/leap.js"></script> 

<script type="text/javascript">



    function main()
    {
        var console = new EngineConsole();

        var house = new House();
        house.addRoom(-2.5, -2.5, 5, 5);
        house.addRoom(+2.5, -2.5, 5, 4);
        house.addDevice("id", 2.5, 2.5, 3);
        house.addDevice("id", -2.5, -2.5, 3);

        var house_view = new HouseView(console, "renderingZone", house);
        house_view.camera.from = [-2.0, -5.0, 5.0];
        house_view.update();


         //initite variables
          var firstValidFrame = null
          var rotateY = 90, rotateX = 0, curY = 0

         Leap.loop(function(frame) {
                if (frame.valid) {
                    if (!firstValidFrame) firstValidFrame = frame
                    var t = firstValidFrame.translation(frame)

                      //assign rotation coordinates
                      rotateX = t[0]

                      //adjust 3D spherical coordinates of the camera
                      var positionx =  5*Math.cos(rotateX * Math.PI/180)
                      var positiony = 5*Math.sin(rotateX * Math.PI/180)
                      var positionz= house_view.camera.from[2] 

                    house_view.camera.from = [positionx, positiony, positionz];
                    house_view.update();

                    }
                });

    }

    document.body.onload = function()
    {
        main();

    }

</script>


{% endblock %}
