{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container">
	{% include "header.html" %}

	<ul class="big-menu">
		<a href="#"><li class="house">Vue Maison</li></a>
		<a href="monitoring"><li class="monitoring">Monitoring</li></a>
		<a href="#"><li class="news">Actualités</li></a>
		<a href="#"><li class="clothes">Vêtements</li></a>
		<a href="#"><li class="music">Musique</li></a>
		<a href="setup"><li class="setup">Configurer</li></a>
	</ul>

</div>
{% endblock body %}


{% block javascript %}
{% endblock %}
