<html>

<head>
	<title>GHome web interface</title>


    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">


</head>

<body>
	<div class="container">
		<div class="row header">
			<h1 class="logo"><span class="glyphicon glyphicon-cog"></span> GHome</h1>
		</div>


		<div class="row">


			<div class="col-md-8">
				<h2>This is a title</h2>
				<p>This is a paragraph, in a column</p>

				<p>List of all devices in the database:</p>
				<ul class="devices">
				{% for device in devices %}
					<li {% if device.ignored %}class="ignored"{% endif %}>
						<span class="device_id">{{ device.device_id }}</span>: <span class="name">{{device.name}}</span>
					</li>
				{% endfor %}
				</ul>


			<form id="add-device" class="form-inline" action="device" method="post">
				<h4>Add a device</h4>

				<div class="form-group">
					<input type="text" class="form-control input-sm" name="id" placeholder="Sensor ID">
				</div>

				<div class="form-group">
					<input type="text" class="form-control input-sm" name="name" placeholder="Sensor name">
				</div>


				<div class="form-group">
		            <select class="form-control input-sm" name="type" placeholder="Sensor type">
		            	<option value="ThermometerEnOcean">Thermometer</option>
		            	<option value="Switch">Switch</option>
		            </select>
	            </div>


				<button type="submit" class="btn btn-primary btn-sm">Add device</button>
			</form>

			</div>



			<div class="col-md-4">
				<h2>This is a title</h2>
				<h3>And this is a subtitle</h3>

				<p>... and another paragraph in another column !</p>

			</div>

		</div>
	</div>

	<!-- JS files, placed at the end for faster page loading -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.form.min.js"></script>

    <script src="static/js/main.js"></script>


</body>

</html>