<html>
    <head>
        <title> Music player </title>
    </head>
    <body>
        <h1> Hello, {{ user}}, what do you want to listen to ? </h1>
        <form id="play-music" class="form-music" action="/player" method="POST">
            <h4>Choose a category</h4>

            <div class="form-group">
                <input type=text list=browsers name=tag>
                <datalist id=browsers >
                    {% for option in combo_options %}
                    <option> {{option}}
                    {% endfor %}
                </datalist>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Search for music</button>
        </form>
    </body>
</html>