{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container">
	{% include "header.html" %}

    <nav class="categories">

        <div class="btn-group">
        {% for category in categories %}
          <a href="#{{category}}" class="{{category}}Icon"><button type="button" class="btn btn-default">{{category}}</button></a>
        {% endfor %}
        </div>

    </nav>

    <br/>
    <br/>
    <br/>
	<ul class="articles">
		{% for category in categories %}
            {% set i = 0 %}

            <div id="{{category}}">
                
                <h2 class="categoryTitle" > {{category}} </h2>
                <br/>
                <br/>

                {% for article in articles[category] %}
                    {% if i < 3 %}
                        <div class="article">

                    {% else %}
                        <div class="hiddenArticle">
                    {% endif %}
                    {% set i=i+1 %}

                            <h3 class="titleContainer"> <a class="title" href="{{article.link}}" > {{article.title}} </a> </h3>

                            {% if article.image %}
                                <img class="img-thumbnail" src="{{article.image}}">
                            {% endif %}
                            </br>
                            <p class = "description">
                                {{article.description|safe}}
                            </p>

                            <p class="summary">
                                {{article.summary|safe}}
                                <a class="more" href="{{article.link}}"> ...More </a> </p>
                            </p>
                        </div>

                    <br/>
                {% endfor %}

                <input type="button" class="addCategory" value="See more of {{category}} articles" onclick="showHiddenArticles('{{category}}')" >

                <input type="button" class="hideCategory" value="See less of {{category}} articles" onclick="hideHiddenArticles('{{category}}')" >
                <br/>
                <br/>
                <br/>
            </div>

		{% endfor %}
	</ul>


</div>
{% endblock body %}


{% block javascript %}

<script type="text/javascript" src="static/js/news.js"></script>
{% endblock javascript %}



