{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container">
	{% include "header.html" %}

    <h1> News </h1>
	<ul class="articles">
		{% for category in categories %}
            <h2 class="category"> {{category}} </h2>
                {% for article in articles[category] %}
                    <h3 class="title"> <a href="{{article.link}}" > {{article.title}} </a> </h3>

                    {% if article.image %}
                        <img class="img-thumbnail" src="{{article.image}}"> 
                    {% endif %}
                    <p class = "description">
                        {{article.description|safe}}
                    </p>

                    <p class="summary">
                        {{article.summary|safe}}
                        <a class="more" href="{{article.link}}"> ...More </a> </p> 
                    </p>

                {% endfor %}
            <br/>
		{% endfor %}
	</ul>


</div>
{% endblock body %}

{% block javascript %}
    
{% endblock %}
