{% extends "base.html" %}

{% block style %}
<link href="static/css/iostoggle.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="container">
	{% include "header.html" %}


	<div>

		<div class="col-md-10">
			<h2>EnOcean sensors</h2>

			<p>List of all devices in the database:</p>

			<ul class="sensors">
				<!-- Populated by JS Handlebars -->
			</ul>


			<form id="add-sensor" class="form-inline" action="/sensor" method="POST">
				<h4>Add a sensor</h4>

				<input type="text" class="form-control" name="id" placeholder="Sensor ID (hexa)">
				<input type="text" class="form-control" name="name" placeholder="Sensor name">
	            <select class="form-control" data-width="auto" data-title="Sensor type" name="type"
	                    placeholder="Sensor type">
	            	{% for sensor_type in sensor_types %}
	            	<option value="{{sensor_type.__name__}}">{{sensor_type.__name__}}</option>
	            	{% endfor %}
	            </select>

				<button type="submit" class="btn btn-primary form-control">Add device</button>
			</form>

		</div>



		<div class="col-md-2">
			<h2>Lamps</h2>

			<ul class="lamps">
				<!-- Populated by JS Handlebars -->
			</ul>

		</div>

	</div>
</div>
{% endblock body %}

{% block javascript %}

<!-- Handlebars templates for sensors / lamps -->
{% raw %}
<script id="connection-template" type="text/x-handlebars-template">
	<tr class="event-connection" data-connection-id="{{_id.$oid}}">

		<td>
			{{triggering_event}}
		</td>

		<td>
			<span class="device_id">{{receiving_object.device_id}}</span>  {{receiving_object.name}}
		</td>

		<td>
			{{method_name}}
		</td>

		<td>
			<span class="delete glyphicon glyphicon-remove"></span>
		</td>

	</tr>
</script>

<script id="sensor-template" type="text/x-handlebars-template">
	<li class="sensor{{#if ignored}} ignored{{/if}}" data-sensor-id="{{device_id}}">
		<div class="heading">
			<span class="device_id">{{device_id}}</span> <span class="name">{{name}}</span>

			<span class="delete glyphicon glyphicon-remove"></span>
		</div>

		<div class="details">
			<ul class="list-group infos">
				{{! Sensor's status + a toggle to change it}}
				<li class="list-group-item">
					<span class="sensor-status"></span>
					{{#if ignored}}
						<input class="modern-toggle sensor-toggle" type="checkbox" />
					{{else}}
						<input class="modern-toggle sensor-toggle" type="checkbox" checked/>
					{{/if}}
				</li>


				{{! Sensor's type (Thermometer, Switch, ...)}}
				<li class="list-group-item">
					<span class="title">Type:</span> {{type}}
				</li>

				{{#if events}}

					<li class="list-group-item">
						{{! List of existing event bindings}}
						<table class="table table-striped binding-table">
					      <thead>
					        <tr>
					          <th>Event</th>
					          <th>Actuator</th>
					          <th>Callback</th>
					          <th> </th>
					        </tr>
					      </thead>
					      <tbody>


						{{#each connections}}
					        {{> connection-template}}
						{{/each}}

							{{!-- Binding events should be done inside the table, but it's buggy for some reason --}}
							<tr class="callback-binding">
									<input type="hidden" name="sensor" value="{{device_id}}" >
									<td>
										{{! Event select }}
							            <select class="form-control" name="event" placeholder="Event">
										{{#each events}}
								            	<option value="{{this}}">{{this}}</option>
						            	{{/each}}
							            </select>
						            </td>

									<td>
							            {{! Actuators select }}
										<select class="form-control" name="actuator" placeholder="Actuator">
										{{#each actuators}}
								            	<option value="{{device_id}}">{{device_id}} - {{name}}</option>
						            	{{/each}}
							            </select>
							        </td>

									<td>
							            {{! Each actuator's callbacks select }}
							            {{#each actuators}}
							            		<select class="form-control" name="callback" placeholder="Callback" data-actuator-id="{{device_id}}" {{#if @first}}{{else}}disabled{{/if}}>
												{{#each callbacks}}
										            	<option value="{{this}}">{{this}}</option>
								            	{{/each}}
									            </select>
						            	{{/each}}
					            	</td>

					            	<td>
					            		<span class="add glyphicon glyphicon-plus"></span>
									</td>
							</tr>



					      </tbody>
					    </table>

					</li>


				{{/if}}

			</ul>


		</div>
	</li>
</script>

<script id="lamp-template" type="text/x-handlebars-template">
	<li {{#if turned_on}}class="turned_on"{{/if}} data-sensor-id="{{device_id}}">
		<span class="device_id">{{device_id}}</span> <span class="name">{{name}}</span>
	</li>
</script>
{% endraw %}

<script src="/static/js/setup.js"></script>
{% endblock %}
