body {
	background: #7B2F9A;
}

.container {
	width: 1024px;
	margin: 40px auto;
	background: #FFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.header {
	background: #222;
	color: #FFF;
	padding: 10px;
}

.header .logo {
	margin: 10px;
	font-size: 24px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.sensors {
	list-style: none;
	padding: 5px 10px;
}

.sensors li{
	padding: 6px;
	background: #27ae60;
	border: 1px solid #2ecc71;
	border-bottom: none;
	color: #FFF;
}

.sensors .ignored {
	background-color: #c0392b;
	border-color: #e74c3c;
	color: #FF9388;
}

.sensors .device_id {
	font-weight: bold;
}

.sensors li .delete {
	float: right;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	color: #FFF;
}

.sensors li .delete:hover {
	opacity: 1;
}