@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/Regular/OpenSans-Regular.eot");
  src:
    url("../fonts/Regular/OpenSans-Regular.woff") format("woff"),
    url("../fonts/Regular/OpenSans-Regular.otf") format("opentype"),
    url("../fonts/Regular/OpenSans-Regular.svg") format("svg");
}

body {
	font-family: "OpenSans Regular";
	background: url('../img/triangles.png');
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

/* main structure */
#notification-bar {
    display: none;

    position: fixed;
    z-index: 2;
    left: 15%;
    width: 70%;

    padding: 11px;
    margin-top: 20px;
    border-radius: 4px;
    background: #2D71E9;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px -1px 25px rgba(0, 0, 0, 0.3);
    overflow-wrap: break-word;
}


#notification-bar.info {
    background-color: #2980b9;
}

#notification-bar.success {
    background-color: #27ae60;
}

#notification-bar.warning {
    background-color: #d35400;
}

#notification-bar.error {
    background-color: #c0392b;
}


.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.header {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;

  background: #2B3C67;
  color: #FFF;
  font-weight: bold;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
}

.header a {
    color: inherit;
}
.header a:hover {
    text-decoration: none;
}

.header .logo {
	margin: 10px;
	font-size: 24px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

    opacity: 0.7;
}

.header .logo:hover {
    opacity: 1;
}

.header .logo .glyphicon {
    top: 9px;
    font-size: 33px;
}

/* Main menu */
.jumbotron {
    padding-left: 4% !important;
    padding-right: 4% !important;
}

.big-menu {
	list-style: none;
	font-size: 0;
	padding: 0;
}

.big-menu li{
	text-align: center;
	width: 49%;
	margin: 0.5%;
	display: inline-block;
	font-size: 32px;
	padding: 35px 15px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden;

	border-radius: 10px;

    box-shadow: inset 0px 12px 1px rgba(0, 0, 0, 0.15);

    z-index:0;
    /* Animation de transition */
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out; /* Safari */
}

.big-menu li:hover {

    box-shadow: inset 0px 5px 1px rgba(0, 0, 0, 0.15);

    /* Effet de saturation */
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}


.big-menu li::before {
	position: absolute;
	z-index: -1;
}

.big-menu .house {
	background-color: #c0392b;
}
.big-menu .house::before{
	content: url('../img/home.png');
    bottom: -50px;
    right: -35px;
}

.big-menu .monitoring {
	background-color: #8138AA;
}
.big-menu .monitoring::before{
	content: url('../img/graph.png');
    bottom: -80px;
    right: -15px;
}

.big-menu .news {
	background-color: #2c3e50;
}
.big-menu .news::before{
	content: url('../img/news.png');
    bottom: -80px;
    right: -15px;
}

.big-menu .clothes {
	background-color: #16a085;
}
.big-menu .clothes::before{
	content: url('../img/clothes.png');
    bottom: -10px;
    right: 15px;
}

.big-menu .music {
	background-color: #2980b9;
}
.big-menu .music::before{
	content: url('../img/music.png');
    bottom: -30px;
    right: -15px;
}

.big-menu .meteo {
	background-color: #c0392b;
}
.big-menu .meteo::before{
	content: url('../img/meteo.png');
    bottom: -70px;
    right: -15px;
}

.big-menu .setup {
	background-color: #BAC9CA;
}
.big-menu .setup::before{
	opacity: 0.8;
	content: url('../img/setup.png');
    bottom: -30px;
    right: -15px;
}


.big-menu .calendar {
    background-color: #4AA31E;
}
.big-menu .calendar::before{
    content: url('../img/menu_calendar.png');
    bottom: -100px;
    right: -50px;
}

/* Sensors */

#devices-graph {
    height: 280px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: auto;
    display: block;
}

.sensors {
	list-style: none;
	padding: 5px 10px;
}


.sensors li .heading{
	background-color: rgba(39, 174, 96, 1);
	box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
	padding: 10px;

	color: #FFF;
	border-bottom: none;

    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}

.sensors li.ignored .heading{
    background-color: rgba(192, 57, 47, 1);
    border-color: #DC4435;
    color: #FF9388;

}


span.sensor-status {
}

.sensors li span.sensor-status::after {
    padding: 4px 6px;
    color: #FFF;
    border-radius: 4px;

    -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
         -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
}

.sensors li span.sensor-status::after {
    content: "Activé";
    background: rgb(39, 174, 96);
}

.sensors li.ignored span.sensor-status::after {
    content: "Ignoré";
    background: #d9534f;
}


.sensors li .details {
    display: none;
}

.sensors li .details .infos .title{
    font-weight: bold;
}


input.sensor-toggle {
    margin-bottom: -10px;
}

.callback-binding select {
    margin: 0 0.5%;
    display: inline-block;
}

.callback-binding select[name="callback"]:disabled {
    display: none;
}

.callback-binding .add {
    margin-top: 8px;
    color: #27ae60;
}

.callback-binding .add:hover {
    color: #2ecc71;
}

.sensors .name {
	font-size: 15px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

.sensors .device_id {
	font-size: 12px;
	margin-right: 10px;
}

.sensors li .heading .glyphicon {
	float: right;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	color: #FFF;
	margin: 0 3px;
}

.event-connection .delete {
    color: #c0392b;
}

.event-connection .delete:hover {
    color: #e74c3c;
}


.sensors li .glyphicon:hover {
	opacity: 1;
}


.sensors li .state-indicator {
	color: #2ecc71;
	text-shadow: 0px 0px 10px rgba(46, 204, 113, 0.5);
}

.sensor-readings{
    width: 500px;
    height: 200px;
    margin: 20px auto;
}
/* Lamps */

.lamps {
	list-style: none;
	padding: 0;
}

.lamps li {
	padding: 10px;
	color: #FFF;
	background: #2c3e50;
	border: 1px solid #34495e;
	border-bottom: none;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.lamps li .device_id {
	font-size: 11px;
	font-weight: bold;
	opacity: 0.5;
}

.lamps li.turned_on {
	background-color: #f39c12;
	border-color: #f1c40f;
	box-shadow: 0 0 20px #f39c12;
}


/* graph */
#values-chart {
  height: 500px;
}


/* Fashion */
/* Necessary CSS */
.fashion .slider    { overflow:hidden; position:relative; }
.fashion .slider ul { margin:0; padding:0; }
.fashion .slider li { float:left; margin:0 5px 0 0; list-style:none; }
/* IE6 issues */
.fashion .slider ul { width:100%; }



.fashion-products {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
}

.fashion-products li {
    padding: 30px;
}

.fashion-products li.active {
    background: #3498db;
    color: #FFF;
    font-weight: bold;
}


.fashion-products .img-wrapper {
    max-height: 350px;
    display: block;
    overflow: hidden;
}


.fashion-products .img-wrapper:wrapper {
    max-height: inherit;
}


.fashion-products li img{
    width: 100%;
}

.fashion-products .name {
    font-size: 25px;
    font-weight: bold;
}

.fashion-products .price {
    font-style: italic;
}

#renderingZone {
    outline: 0;
}

/* music */

#gradPlayer
{
height:100%;
width:100%;
background: -webkit-radial-gradient(ellipse, #07AAFC , #3632FF ); /* Safari */
background: -o-radial-gradient(ellipse, #07AAFC , #3632FF ); /* For Opera 11.1 to 12.0 */
background: -moz-radial-gradient(ellipse, #07AAFC , #3632FF ); /* For Firefox 3.6 to 15 */
background: radial-gradient(ellipse, #07AAFC , #3632FF ); /* Standard syntax (must be last) */
}

.buttPlayer
{
height:30px;
width: 70px;
border-radius: 0px;
color: white;
border-width: 0px;
background: -webkit-linear-gradient(#282828, #494949); /* For Safari */
background: -o-linear-gradient(#282828, #494949); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#282828, #494949); /* For Firefox 3.6 to 15 */
background: linear-gradient(#282828, #494949); /* Standard syntax (must be last) */
}

.player_button
{
    opacity: 0.8;
}
.player_button:hover
{
    opacity: 1;
}

.white_text
{
    color: white;

}

.slider
{
  width: 100% !important;
}


/* news */
.articles .description br, .articles .feedflare {
    display: none;
}

.articles .img-thumbnail {
    margin: 0 auto;
    display: block;
}

.articles .category {
    font-weight: bold;
    font-size: 51px;
    letter-spacing: -3px;
}